<div class="cheat-sheet-phase-component" *ngIf="phase">
    <mat-card>
        <div class="padded-content">
            <h1 mat-card-title [style.fontSize]="((fontSize$ | async) || 1) + 0.75 + 'rem'">{{phase.name}}</h1>
        </div>
        <div mat-card-content class="padded-content">
            <ul *ngIf="phase.abilities && phase.abilities.length">
                <li [style.fontSize]="(fontSize$ | async) + 'rem'" *ngFor="let ability of phase.abilities">
                    {{ability.name}}
                </li>
            </ul>
        </div>
    </mat-card>
</div>