<mat-form-field>
    <mat-label>Your role</mat-label>
    <mat-select [(ngModel)]="role" (selectionChange)="selectedRoleChange($event)">
        <mat-optgroup label="Tanks">
            <mat-option value="T1">T1</mat-option>
            <mat-option value="T2">T2</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Melee DPS">
            <mat-option value="M1">M1</mat-option>
            <mat-option value="M2">M2</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Ranged DPS">
            <mat-option value="R1">R1</mat-option>
            <mat-option value="R2">R2</mat-option>
        </mat-optgroup>
        <mat-optgroup label="Healers">
            <mat-option value="H1">H1</mat-option>
            <mat-option value="H2">H2</mat-option>
        </mat-optgroup>
    </mat-select>
</mat-form-field>
