.macro-image-container {
    margin: 2rem auto;
    text-align: center;
}

table {
    width: 100%;
    td {
        padding-right: 2rem;
    }

    td.shrink {
        white-space: nowrap;
    }

    td.grow {
        width: 99%;
    }
}
